<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="slim..com.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Users from API</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(utlisateurs)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Language</th>
                              
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                                <td>Male</td>
                                <td>foo@example.com</td>
                                <td>English</td>
                   
                            </tr>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                                <td>Male</td>
                                <td>foo@example.com</td>
                                <td>English</td>
                               
                            </tr>
                            <tr th:each="user : ${utilisateurs}">
                                <td th:text="${user.nom}">Joe</td>
                                <td th:text="${user.prenom}">Buck</td>
                                <td th:text="${user.profil}">Male</td>
                                <td th:text="${user.email}">foo@example.com</td>
                                <td th:text="${user.sexe}">English</td>
                           
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>